.layout {
    display: flex;
    gap: 24px;
}

.sidebar {
    flex: 0 0 350px;
}

.transactionColumn {
    flex: 1;
    min-width: 0;
}

.balanceCard {
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 100ms ease;

    &.selected {
        box-shadow: 2px 5px 26px -3px rgba(0, 0, 0, 0.32);
        border: 1px solid var(--primary);
        transform: scale(1.03);
    }

    .balance {
        font-family: var(--font-heading);
        font-weight: 600;
        flex: 0 0 auto;
        width: max-content;
        white-space: nowrap;
    }

    .error {
        font-weight: 600;
        text-align: center;
        color: red;
    }
}

.balanceCard:hover {
    transform: scale(1.03);
}

.transactionsCard {
    flex: 1;
    min-width: 0;

    .table {
        margin: 12px 0;
        flex: 1 1 100%;
        min-width: 100%;

        .row {
            opacity: 0;
            animation: global(slideIn) 330ms ease-in forwards;
            animation-delay: calc(var(--row-index, 0) * 30ms);
        }
    }
}